---
title: Home
description:
image: https://source.unsplash.com/sp-p7uuT0tw/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				App marketing template
			</h1>
			<p class="subtext editable">
				Arepo is a great template site for marketing your app or product.
			</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Introduce yourself
				</h2>
				<p class="editable">
					In hac habitasse platea dictumst. Pellentesque sed sodales elit. Aenean egestas orci sed neque ornare, non posuere enim fermentum. Nullam eu vestibulum lorem. Etiam nec sapien at enim porta malesuada sed nec risus.
				</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/wynMU8psYo4/650x1300?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Pick your interests
				</h2>
				<p class="editable">
					Proin consequat pretium ex, et tempor arcu maximus sit amet. Sed cursus tellus et euismod posuere. Etiam mollis semper nisl, in rutrum augue porttitor ac. Nam ac viverra eros, quis mollis leo..
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://source.unsplash.com/u_ZEd6zlMYw/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Upload and go
				</h2>
				<p class="editable">
					Ut finibus est est, quis malesuada quam efficitur quis. Ut felis risus, pulvinar et luctus sed, consequat interdum ex
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://source.unsplash.com/kSYDi9UCiIY/650x1300" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					Arepo
				</h2>
				<p class="subtext editable">
					
				</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
